.smallCard{
    transition: transform 0.3s;
}

.smallCard:hover{
    transform: rotate(-15deg);
}

.container1 {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 20px;
    scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.container1::-webkit-scrollbar {
    display: none; 
}

.cardGroup {
    display: flex;
    gap: 20px; 
    width: fit-content;
    padding: 0 20px; 
}
    