.circ {
    width: 250px;
    height: 250px;
    background-color: #F5F5F5; 
    border-radius: 50%;
    position: absolute;
    left: 100px;
    bottom: 100px;
    z-index: 1; 
}
.circ-cir {
    width: 200px;
    height: 200px;
    background-color: white; 
    border-radius: 50%;
    position: absolute;
    left: 125px;
    bottom: 125px;
    z-index: 1; 
}