.timeline {
    border-left: 1px solid rgb(94, 11, 249);
    position: relative;
    list-style: none;
}
  
.timeline .timeline-item {
    position: relative;
}
  
.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}
  
.timeline .timeline-item:after {
    background-color: rgb(105, 12, 255);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}