*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
.nav-spacing{
  display: flex;
  gap: 2rem;
  font-weight: 500;
  margin-left: 20%;
}
.nav_button{
    background-color: black;
    color: white;
    border-radius: 35px;
    display: flex;
    width: auto;
    height: 40px;
    align-items: center;
    padding: 0px 20px;
    margin-right: 85px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}