.dashed-line {
  width: 80%;
  height: 1px; /* Adjust the height as needed */
  background: transparent;
  border-top: 2px dashed #f4a339;
  margin-top: 60px;
  margin-left: 100px;
  margin-bottom: 150px;
}

.badge1 {
  z-index: 1;
  position: absolute;
  top: 205px; 
  left: 230px; 
  width: 50px;
  height: 50px;
}

.badge2 {
  z-index: 1;
  position: absolute;
  top: 205px; 
  left: 570px; 
  width: 50px;
  height: 50px;
}

.badge3 {
  z-index: 1;
  position: absolute;
  top: 205px; 
  left: 930px; 
  width: 50px;
  height: 50px;
}

.one {
  z-index: 1;
  position: absolute;
  top: 215px; 
  left: 240px; 
  width: 30px;
  height: 30px;
}

.two {
  z-index: 1;
  position: absolute;
  top: 215px; 
  left: 580px; 
  width: 30px;
  height: 30px;
}

.three {
  z-index: 1;
  position: absolute;
  top: 215px; 
  left: 940px; 
  width: 30px;
  height: 30px;
}

.text1 {
  position: absolute;
  top: 270px; 
  left: 130px; 
}

.text2 {
  position: absolute;
  top: 270px; 
  left: 460px; 
  text-align: center;
}

.text3 {
  position: absolute;
  top: 270px; 
  left: 820px; 
  text-align: center;
}
